<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chrome Timer Admin Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        label {
            white-space: nowrap;
        }
    </style>
    <script>

    </script>
  </head>
  <body>
    <div class="container">
      <div class="form-group">
        <label class="control-label">Admin Page Password</label>
        <div class="controls">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Time until lock (in seconds)</label>
        <div class="controls">
              <input type="text" class="form-control">
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true">Timer is active</label>
      </div>
      <div class="form-group">
          <a class="btn btn-primary">Save</a>
      </div>
      <div class="alert alert-success" id="message" style="display: none">
        Settings saved.
      </div>
    </div>
  </body>
</html>
